<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="background-color:red"><p>첫번째 자식</p><h1>두번째 자식</h1><h3>세번째 자식</h3></div>
	<!--띄어쓰기나 엔터를 누를 경우 텍스트로 인식 된다. -->
</body>
<script>
	let div = document.getElementsByTagName("div")[0];
	console.log(div.firstChild);//p
	console.log(div.lastChild);//h3
	console.log(div.lastChild.previousSibling);//h1
	console.log(div.childNodes);
	console.log(div);
	console.log(div.attributes[0].value);
	div.attributes[0].value="background-color:blue"
	div.style.backgroundColor="yellow";
	div.style["background-color"]="green";
	div.style="background-color:orange; border:2px solid red";
	div.style="position:absolute; left:100px; top:100px";
	
</script>
</html>